<form class="form-horizontal" id="filter" method="get">
  <div class="form-group">
    <div class="col-sm-1">{{ filter_form.organization.label }}</div>
    <div class="col-sm-10">{{ filter_form.organization }}</div>
  </div>
  <div class="form-group">
    <div class="col-sm-1">{{ filter_form.vendor.label }}</div>
    <div class="col-sm-10">{{ filter_form.vendor }}</div>
  </div>
  <div class="form-group">
    <div class="col-sm-1">{{ filter_form.value.label }}</div>
    <div class="col-sm-10">{{ filter_form.value }}</div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-1 col-sm-1">
      <button type="submit" class="btn btn-default btn-success">Filter</button>
    </div>
    <div class="col-sm-offset-1">
      <button type="submit" class="btn btn-default btn-success" name='reset'>Reset filters</button>
     </div>
   </div>
</form>
