SECRET_KEY=scratch
SENTRY_DSN=

DEBUG=False

SERVER_NAME=localhost:5000

MAIL_SERVER=smtp
MAIL_PORT=25
MAIL_USE_TLS=False
MAIL_USE_SSL=False

NOTIFY_EMAILS=your-edw-username@eaudeweb.ro

USERNAME=scratch
PASSWORD=scratch

TED_DAYS_AGO=3
TED_USERNAME=
TED_PASSWORD=

DISABLE_UNGM_DOWNLOAD=
MAX_UNGM_REQUESTS=3

LOCAL_ENDPOINT_URI=http://localhost:5001
