<!doctype html>

<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
</head>
<body>
    {%  block header %}
    <div class="container">
      <div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
            </button>
            <a class="navbar-brand" href="{{ url_for('.tenders') }}">UNGM-Scraper</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="{{ url_for('.tenders') }}">Tenders</a></li>
              <li><a href="{{ url_for('.winners') }}">Contract Awards</a></li>
              <li><a href="{{ url_for('.archive') }}">Archive</a></li>
              <li><a href="{{ url_for('.overview') }}">Overview</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><p>{{ current_user }} <a href="{{ url_for('.logout') }}">Log out</a></p></li>
              <li>
                <p>
                  <form class="form-inline"  role="form" action="{{ url_for('.search') }}" method="get" name="search">
                    <div class="form-group">
                      <input type="search" name="query" placeholder="Titles, organizations...etc">
                    </div>
                    <div class="form-group">
                      <button class="btn-default btn-primary" type="submit">Search</button>
                    </div>
                  </form>
                </p>
              </li>
            </ul>

          </div>
        </div>
      </div>
    </div>
    {% endblock %}

    </br></br>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
{% assets "main_js" %}
  <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
</body>
</html>
