<!DOCTYPE html>
<html>

  <head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main.css') }}">
    {% block HTMLImports %}{% endblock %}
  </head>

  <body>
    {% block header %}
      <div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
            </button>
            <a class="navbar-brand" href="{{ url_for('.tenders') }}">Scraper</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="{{ url_for('.tenders') }}">Tenders</a></li>
              <li><a href="{{ url_for('.winners') }}">Contract Awards</a></li>
              <li><a href="{{ url_for('.archive') }}">Archive</a></li>
              <li><a href="{{ url_for('.overview') }}">Overview</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a>{{ current_user }}</a></li>
              <li><a class="form-inline" href="{{ url_for('.logout') }}">Log out</a></li>
              <li>
                <div class="form-inline padding-nav">
                  <form role="form" action="{{ url_for('.search') }}" method="get" name="search">
                    <div class="form-group">
                      <input type="search" name="query"  class="form-control" placeholder="Titles, organizations...etc">
                    </div>
                    <div class="form-group">
                      <button class="btn btn-primary" type="submit">Search</button>
                    </div>
                  </form>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    {% endblock %}

    <div class="container extend-width">
      {% block content %}
      {% endblock %}
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    {% assets "all_js" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

  </body>
</html>
