{% extends 'layout.html' %}

{% block title %}Tenders{% endblock %}

{% block content %}

  {% include 'filters/tenders_filters.html' %}

  <table class='table table-condensed table-hover'>
    <thead>
    <tr>
      <th class='text-center col-sm-3'>Title</th>
      <th class='text-center col-sm-2'>UN Organization</th>
      <th class='text-center col-sm-1'>Deadline</th>
      <th class='text-center col-sm-1'>Published</th>
      <th class='text-center col-sm-1'>Type of notice</th>
    </tr>
    </thead>
    <tbody>
    {% for tender in tenders %}
      <tr {% if tender.winner %}class="bg-danger"{% endif %}>
        <td class='text-center'>
          <a href="{{ url_for('.tender', tender_id=tender.id) }}">{{ tender.title }}</a>
        </td>
        <td class='text-center'>{{ tender.organization }}</td>
        <td class='text-center'>{{ tender.deadline|datetime|safe }}</td>
        <td class='text-center'>{{ tender.published|datetime }}</td>
        <td class='text-center'>{{ tender.notice_type }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock %}
