{% extends 'layout.html' %}

{% block title %}Tender {{ tender.id }}{% endblock %}

{% block content %}

  <table class='table table-condensed table-hover'>
    <tr>
      <th>Title</th>
      <td>{{ tender.title }}</td>
    </tr>
    <tr>
      <th>UN Organization</th>
      <td>{{ tender.organization }}</td>
    </tr>
    <tr>
      <th>Reference</th>
      <td>{{ tender.reference }}</td>
    </tr>
    <tr>
      <th>Published</th>
      <td>{{ tender.published }}</td>
    </tr>
    <tr>
      <th>Deadline</th>
      <td>{{ tender.deadline }}</td>
    </tr>
    <tr>
      <th>Description</th>
      <td>{{ tender.description|safe }}</td>
    </tr>
    <tr>
      <th>Documents</th>
      <td><ol>
        {% for document in tender.documents %}
          <li>
            <a href='{{ document.download_url }}'>{{ document.name }}</a>
          </li>
        {% endfor %}
      </ol></td>
    </tr>
    <tr>
      <th>Status</th>
      <td>
        {% if tender.winner %}<p class="bg-danger">CLOSED</p>
        {% else %}<p class="bg-success">OPEN</p>
        {% endif %}
      </td>
    </tr>
    <tr>
      <th>Vendor</th>
      <td>{% if tender.winner %}{{ tender.winner.0.vendor }}{% endif %}</td>
    </tr>
    <tr>
      <th>Contract value ($)</th>
      <td>{% if tender.winner %}{{ tender.winner.0.value }}{% endif %}</td>
    </tr>
    <tr>
      <th>Award date</th>
      <td>{% if tender.winner %}{{ tender.winner.0.award_date }}{% endif %}</td>
    </tr>
  </table>

{% endblock %}
