{% extends 'layout.html' %}

{% block title %}Tenders{% endblock %}

{% block content %}

  {% include 'filters/tenders_filters.html' %}

  <table class='table table-condensed table-hover'>
    <thead>
    <tr>
      <th class='text-center col-sm-3'>Title</th>
      <th class='text-center col-sm-2'>UN Organization</th>
      <th class='text-center col-sm-1'>Reference</th>
      <th class='text-center col-sm-1'>Published</th>
      <th class='text-center col-sm-1'>Deadline</th>
      <th class='text-center col-sm-4'>Documents</th>
    </tr>
    </thead>
    <tbody>
    {% for tender in tenders %}
      <tr>
        <td class='text-center'>
          <a href="{{ url_for('.tender', tender_id=tender.id) }}">{{ tender.title }}</a>
        </td>
        <td class='text-center'>{{ tender.organization }}</td>
        <td class='text-center'>{{ tender.reference }}</td>
        <td class='text-center'>{{ tender.published }}</td>
        <td class='text-center'>
          {{ tender.deadline }}
          {% if tender.winner %}<p class="bg-danger">CLOSED</p>
          {% else %}<p class="bg-success">OPEN</p>
          {% endif %}
        </td>
        <td><ol>
          {% for document in tender.documents %}
            <li>
              <a href='{{ document.download_url }}'>{{ document.name }}</a>
            </li>
          {% endfor %}
        </ol></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock %}
