{% extends 'layout.html' %}

{% block title %}Tender {{ tender.id }}{% endblock %}

{% block content %}

  <table {% if tender.winner %}class='table table-condensed table-hover bg-danger'{% else %}class='table table-condensed table-hover'{% endif %}>
    <tr>
      <th>Type of notice</th>
      <td>{{ tender.notice_type }}</td>
    </tr>
    <tr>
      <th>Title</th>
      <td>{{ tender.title }}</td>
    </tr>
    <tr>
      <th>UN Organization</th>
      <td>{{ tender.organization }}</td>
    </tr>
    <tr>
      <th>Reference</th>
      <td>{{ tender.reference }}</td>
    </tr>
    <tr>
      <th>Published</th>
      <td>{{ tender.published }}</td>
    </tr>
    <tr>
      <th>Deadline</th>
      <td>{{ tender.deadline }}</td>
    </tr>
    <tr>
      <th>Description</th>
      <td>{{ tender.description|safe }}</td>
    </tr>
    <tr>
      <th>Documents</th>
      <td><ol>
        {% for document in tender.documents %}
          <li>
            <a href='{{ document.download_url }}'>{{ document.name }}</a>
          </li>
        {% endfor %}
      </ol></td>
    </tr>
    <tr>
      <th>Vendor</th>
      <td>{% if tender.winner %}{{ tender.winner.0.vendor }}{% endif %}</td>
    </tr>
    <tr>
      <th>Contract value ($)</th>
      <td>{% if tender.winner %}{{ tender.winner.0.value }}{% endif %}</td>
    </tr>
    <tr>
      <th>Award date</th>
      <td>{% if tender.winner %}{{ tender.winner.0.award_date }}{% endif %}</td>
    </tr>
  </table>

{% endblock %}
