{% extends 'layout.html' %}

{% block title %}Tender {{ tender.id }}{% endblock %}

{% block content %}
  <div class="{{ tender|color }}">
  <table class="table table-condensed table-hover">
    <tr>
      <th>Favourite</th>
      <td><a class="single-tender" href="{{ url_for('.toggle_favourite', tender_id=tender.id) }}">
          <i style="color: orange" class="{{ tender|favourite }}">
          <small>{% if tender.favourite %}Remove from favourites{% else %}Mark as favourite{% endif %}</small>
          </i>
       </a></td>
    </tr>
    <tr>
      <th>Type of notice</th>
      <td>{{ tender.notice_type }}</td>
    </tr>
    <tr>
      <th>Title</th>
      <td>{{ tender.title }}</td>
    </tr>
    <tr>
      <th>UN Organization</th>
      <td>{{ tender.organization }}</td>
    </tr>
    <tr>
      <th>Reference</th>
      <td>{{ tender.reference }}</td>
    </tr>
    <tr>
      <th>Published</th>
      <td>{{ tender.published|datetime }}</td>
    </tr>
    <tr>
      <th>Deadline</th>
      <td>{{ tender.deadline|datetime|safe }}.&nbsp;&nbsp; <strong>Deadline in: {{ tender.deadline|deadline }}</strong></td>
    </tr>
    <tr>
      <th>Description</th>
      <td>{{ tender.description|safe }}</td>
    </tr>
    <tr>
      <th>Documents</th>
      <td><ol>
        {% for document in tender.documents %}
          <li>
            <a href='{{ document.download_url }}'>{{ document.name }}</a>
          </li>
        {% endfor %}
      </ol></td>
    </tr>
    {% if tender.winner %}
    <tr>
      <th>Vendor</th>
      <td>{% if tender.winner %}{{ tender.winner.0.vendor }}{% endif %}</td>
    </tr>
    <tr>
      <th>Contract value ($)</th>
      <td>{% if tender.winner %}{{ tender.winner.0.value }}{% endif %}</td>
    </tr>
    <tr>
      <th>Award date</th>
      <td>{% if tender.winner %}{{ tender.winner.0.award_date|datetime }}{% endif %}</td>
    </tr>
    {% endif %}
  </table>
  </div>
{% endblock %}
