{% extends 'layout.html' %}

{% block title %}Contract Awards{% endblock %}

{% block content %}

  {% include 'filters/winners_filters.html' %}

  <table class='table table-condensed table-hover'>
    <thead>
    <tr>
      <th class='text-center col-sm-1'>Title</th>
      <th class='text-center col-sm-1'>UN Organization</th>
      <th class='text-center col-sm-1'>Reference</th>
      <th class='text-center col-sm-1'>Vendor</th>
      <th class='text-center col-sm-1'>Value ($)</th>
    </tr>
    </thead>
    <tbody>
    {% for winner in winners %}
      <tr>
        <td class='text-center'>{{ winner.tender.title }}</td>
        <td class='text-center'>{{ winner.tender.organization }}</td>
        <td class='text-center'>{{ winner.tender.reference }}</td>
        <td class='text-center'>{{ winner.vendor }}</td>
        <td class='text-center'>{{ winner.value }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock %}
