{% extends 'layout.html' %}

{% block title %}Contract Awards{% endblock %}

{% block content %}
  <div class="row">
    <h1 class="col-sm-12">
      <span>Contract Awards</span>
    </h1>
  </div>

  {% include 'filters/winners_filters.html' %}

  <table class='table table-condensed table-hover'>
    <thead>
    <tr>
      <th class='text-center col-sm-3'>Title</th>
      <th class='text-center col-sm-1'>Source</th>
      <th class='text-center col-sm-3'>Organization</th>
      <th class='text-center col-sm-1'>Award date</th>
      <th class='text-center col-sm-1'>Vendor</th>
      <th class='text-center col-sm-1'>Value</th>
      <th class='text-center col-sm-1'>Currency</th>
    </tr>
    </thead>
    <tbody>
    {% for winner in winners %}
      <tr>
        <td class='text-center'>
          <a href="{{ url_for('.tender', tender_id=winner.tender.id) }}">{{ winner.tender.title }}</a>
        </td>
        <td class='text-center'>{{ winner.tender.source }}</td>
        <td class='text-center'>{{ winner.tender.organization }}</td>
        <td class='text-center'>{{ winner.award_date|datetime }}</td>
        <td class='text-center'>{{ winner.vendor or 'Unknown' }}</td>
        <td class='text-center'>{{ winner.value|format_digits or 'Unknown' }}</td>
        <td class='text-center'>{{ winner.currency or 'Unknown' }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock %}
