{% extends 'mails/layout.html' %}

{% block content %}
	<h2>Tender expires in less than {{ days_remained }} days!</h2>

    <span class="title">{{ tender.title }}</span>
	<ul>
		<li><b>Organization</b>: {{ tender.organization }}</li>
		<li><b>Published</b>: {{ tender.published|datetime }}</li>
		<li><b>Deadline</b>: {{ tender.deadline|datetime|safe }}.&nbsp;&nbsp; <strong>Deadline in: {{ tender.deadline|deadline }}</strong></li>
		<li><b>Description</b>: {{ tender.description|safe }}</li>
		<li><a href="{{ url_for('.tender', tender_id=tender.id, _external=True) }}">See this tender in-site</a></li>
	</ul>

{% endblock %}
