{% extends 'mails/layout.html' %}

{% block content %}
<h2>There are <strong>{{ tenders_size }}</strong> new tenders available.</h2>
<h4><a href="{{ url_for('.tenders', _external=True) }}">See the in-site list of all tenders</a></h4>

<table>
<tbody>
{% for index, tender in tenders %}
  <tr>
    <td valign="top"><b>{{ index }}</b></td>
    <td valign="top"><ul>
      <li><b>Title</b>: {{ tender.title }}</li>
      <li><b>Organization</b>: {{ tender.organization }}</li>
      <li><b>Published</b>: {{ tender.published }}</li>
      <li><b>Deadline</b>: {{ tender.deadline }}</li>
      <li><a href="{{ url_for('.tender', tender_id=tender.tender_id, _external=True) }}">See this tender in-site</a></li>
    </ul></td>
  </tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
