{% extends 'mails/layout.html' %}

{% block header %}New Contract Awards{% endblock %}

{% block content %}
  <ol class="tender-list">
    {% for winner in winners %}
    <li>
      <h2>
        <a href="{{ url_for('.tender', tender_id=winner.tender_id, _external=True) }}">{{ winner.title }}</a>
      </h2>
      <p class="published">{{ winner.organization }}</p>
      <p class="winner">
        Winner: <strong>{{ winner.vendor or ' Unknown' }}</strong> for
        <strong>{{ winner.value|format_digits or 'Unknown' }} {{ winner.currency or '' }}</strong>
      </p>
    </li>
    {% endfor %}
  </ol>
{% endblock %}
  