{% extends 'mails/layout.html' %}

{% block content %}
  <h2>New Contract Awards</h2>

  <ol>
    {% for winner in winners %}
      <li>
        <span class="title">{{ winner.title }}</span>
        <ul class="details">
          <li><b>Organization</b>: {{ winner.organization }}</li>
          <li><b>Contract vendor</b>: {{ winner.vendor or ' Unknown' }}</li>
          <li><b>Contract
            value</b>: {{ winner.value|format_digits or 'Unknown' }} {{ winner.currency or '' }}
          </li>

        </ul>
        <a href="{{ url_for('.tender', tender_id=winner.tender_id, _external=True) }}">See
          this contract award in-site</a>
      </li>
      <br/>
    {% endfor %}
  </ol>

  </br></br>
  <h4><a href="{{ url_for('.winners', _external=True) }}">See the in-site list
    of all contract awards</a></h4>
{% endblock %}
