{% extends 'mails/layout.html' %}

{% block content %}
<h2>New Tenders</h2>

<ol>
{% for tender in tenders %}
  <li>
    <span class="title">{{ tender.title }}</span>
    <ul class="details">
      <li><b>Organization</b>: {{ tender.organization }} <b>Source</b>: {{ tender.source }}</li>
      <li><b>Published</b>: {{ tender.published|datetime }}</li>
      <li><b>Deadline</b>: {{ tender.deadline|datetime|safe }}.&nbsp;&nbsp; <strong>Deadline in: {{ tender.deadline|deadline }}</strong></li>
      <li><b>Description</b>: {{ tender.description|safe }}</li>
      <li><a href="{{ url_for('.tender', tender_id=tender.id, _external=True) }}">See this tender in-site</a></li>
    </ul>
  </li>
	<br/>
{% endfor %}
</ol>

</br></br>
<h4><a href="{{ url_for('.tenders', _external=True) }}">See the in-site list of all tenders</a></h4>
{% endblock %}
