{% extends 'mails/layout.html' %}

{% block header %}
  {% if tenders|count == 1 %}
    A tender has been updated
  {% else %}
    Several tenders have been updated
  {% endif %}
{% endblock %}

{% block content %}
  <ol class="tender-list">
    {% for tender, changes, docs in tender_updates %}
    <li>
      <h2>
        <a href="{{ url_for('.tender', tender_id=tender.id, _external=True) }}">{{ tender.title }}</a>
      </h2>
      <dl>
        {% for attribute, values in changes.iteritems() %}
        <dt>{{ attribute }}</dt>
        <dd>{{ values }}</dd>
        {% endfor %}
      </dl>
      {% if docs %}
      <hr>
      <ol>
        {% for doc in docs %}
        <li>
          <a href="{{ doc.download_url }}">{{ doc.name }}</a>
        </li>
        {% endfor %}
      </ol>
      {% endif %}
    </li>
    {% endfor %}
  </ol>
{% endblock %}
